[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
udi_interface = "*"
mashumaro = "*"
async-timeout = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
