[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
udi-interface = "*"
requests = "*"
aiohttp = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
