[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
udi-interface = "*"
requests = "*"
markdown2 = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
